:root {
    --main-color:#194E92;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}